services:
  ########################
  ## Caddy (Web Server) ##
  ########################

  # This is the ONLY service exposed to the internet / outside Docker network.
  # Caddy will talk to the backend and frontend services internally.
  caddy:
    build:
      context: ${PROJECT_CONTEXT}
      dockerfile: ${CADDY_REL_PATH}/Dockerfile.caddy
      args:
        CADDY_REL_PATH: ${CADDY_REL_PATH}
    restart: unless-stopped
    ports:
      - '${HTTP_PORT}:80'
      - '${HTTPS_PORT}:8443'
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    # Healthcheck: Verify Caddy is serving traffic on port 80
    healthcheck:
      # like 'curl' (but lighter weight, 'wget' also comes with Alpine)
      # returns an exit code of 0 on success -> healthy
      # local self-signed certificates only for 'localhost' (not '127.0.0.1')
      # As Caddy listens to all available interfaces, 'localhost' works here.docker
      test: ['CMD', 'wget', '--no-verbose', '--tries=1', '--spider', 'http://localhost:80']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    # depends_on:
    #   user-service:
    #     condition: service_healthy
    networks:
      - network

  ##############
  ## BACKEND  ##
  ##############

  # backend:

  ##################
  ## POSTGRES DB  ##
  ##################

  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - network

#############
## Volumes ##
#############

volumes:
  caddy_data: # Storage for Caddy's SSL/TLS certificates
  caddy_config: # Storage for Caddy's configuration
  db_data:

##############
## Networks ##
##############

networks:
  network:
    driver: bridge
